<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pedro_g.semana5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.pedro_g.semana5.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pedro_g.semana5.activities.DetalleContacto"
            android:parentActivityName="com.pedro_g.semana5.activities.MainActivity" />
        <activity
            android:name="com.pedro_g.semana5.activities.FavoritosActivity"
            android:parentActivityName="com.pedro_g.semana5.activities.MainActivity" />
        <activity
            android:name="com.pedro_g.semana5.activities.ContactenosActivity"
            android:parentActivityName="com.pedro_g.semana5.activities.MainActivity" />
        <activity
            android:name="com.pedro_g.semana5.activities.AboutActivity"
            android:parentActivityName="com.pedro_g.semana5.activities.MainActivity" />
    </application>

</manifest>